!!!
%html
  %head
    %title Invoicer
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'shared/navbar'
    .container
      .content
        =yield